@mixin h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: $_64px;
    line-height: 75px;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
    color: $white;
}

@mixin h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: $_36px;
    line-height: 42px;
    align-items: center;
    text-align: center;
    color: $deep_black;
}

@mixin h3 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: $_30px;
    line-height: 35px;
    align-items: center;
    text-align: center;
    color: $deep_black;
}

@mixin h4 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: $_24px;
    line-height: 28px;
    align-items: center;
    text-align: center;
    color: $deep_black;
    text-transform: uppercase;
}

@mixin h5 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: $_24px;
    line-height: 28px;
    align-items: center;
    text-align: center;
    color: $deep_black;
}

@mixin h6 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: $_13px;
    line-height: 15px;
    align-items: center;
    text-align: center;
    color: $deep_black;
}

@mixin main-text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: $_24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: $white;
}

//Section Header
@mixin btn {
    position: relative;
    display: block;
    margin: auto;
    width: 369px;
    height: 68px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: $_24px;
    text-transform: uppercase;
    background: $deep_coral;
    color: $white;
    border: none;
    cursor: pointer;
}

@mixin btn_hover {
    background-color: $btn_hover;
    transition: 0, 6s ease-in;
}

@mixin btn_active {
    background-color: $btn_active;
}

//Section Feauters
@mixin sub-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: $_18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

@mixin text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: $_18px;
    align-items: center;
    text-align: center;
    color: $light_grey;
}

//Section Works
@mixin mask-title {
    display: block;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: $_24px;
    line-height: 28px;
    align-items: center;
    text-align: center;
    color: $white;
    text-transform: uppercase;

}

@mixin mask-p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: $_18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: $white;
}

//Section Person
@mixin person-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: $_24px;
    line-height: 28px;
    text-transform: capitalize;
    color: $black;
    margin-top: 30px;
}

@mixin person-st {
    display: block;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: $_18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FF4343;
    margin: 5px 0 18px;
}

@mixin person-text {
    display: block;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: $_18px;
    color: $light_grey;
}

@mixin links {
    color: #C6CBCD;
    font-size: 10px;
}

//Section swiper slider
@mixin slider-text {
    font-family: 'Cardo';
    font-style: italic;
    font-weight: 400;
    font-size: $_36px;
    line-height: 49px;
    text-transform: capitalize;
    color: $white;
}

@mixin slider-subtext {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: $_13px;
    line-height: 15px;
    text-transform: uppercase;
    color: $white;
}

//Section Download
@mixin ddt {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: $_30px;
    color: $deep_black;
    text-transform: capitalize;
}

@mixin dds {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: $_18px;
    text-transform: uppercase;
    color: $deep_black;
}

//Section Contact
@mixin contact-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: $_18px;
    line-height: 21px;
    text-transform: uppercase;
    color: $white;
}

@mixin contact-p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: $_18px;
    line-height: 21px;
    text-transform: capitalize;
    color: $white;
}

//footer
@mixin footer-text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    color: #808080;
}