//colors
$bg_color: rgba(37, 43, 73, 0.8);
$deep_black: #000000;
$black: #2D3033;
$grey: #BABBC5;
$deep_grey: #656980;
$light_grey: #6C7279;
$lighter_grey: #C6CBCD;
$dark_grey: #808080;
$white: #FFFFFF;
$deep_coral: #FF4343;
$basil: #5C3249;
$light_purple: #353C65;
$card_mask: rgba(255, 67, 67, 0.8);
$card_mask_active: rgba(185, 12, 12, 0.8);
$btn_hover: #E71414;
$btn_active: #FF4343;
$footer_bg: #2C3154;
$slider-bullet: #7E5D6F;



//font-size
$_64px: 4rem;
$_36px: 2.25rem;
$_30px: 1.875rem;
$_24px: 1.5rem;
$_18px: 1.125rem;
$_14px: 0.875rem;
$_13px: 0.8125rem