.feauters-wrap {
    display: flex;
    margin: auto;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    margin: 0 -15px;
    padding: 120px 0 130px;

    @media (max-width: 840px) {
        justify-content: center;
        padding: 80 0 80;
    }

    @media (max-width: 540px) {
        justify-content: center;
        padding: 50 0 35;
    }
}

.feauters-item {
    width: 360px;
    text-align: center;
    margin: 0 15px;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
        margin-bottom: 100px;

        @media (max-width: 560px) {
            margin-bottom: 50px;
        }
    }


    @media (max-width: 1170px) {
        width: 310px;
    }

    @media (max-width: 1120px) {
        width: 300px;
    }

    @media (max-width: 990px) {
        width: 280px;
    }

    @media (max-width: 930px) {
        width: 250px;
    }

    @media (max-width: 840px) {
        width: 290px;

        &:nth-child(4) {
            margin-bottom: 100px;
        }
    }

    @media (max-width: 640px) {
        width: 250px;
        ;
    }

    @media (max-width: 560px) {
        width: 280px;
        margin-bottom: 50px;

        &:nth-child(4),
        &:nth-child(5) {
            margin-bottom: 50px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}


.feauters-item--img {}

.feauters-item--img img {
    object-fit: cover;
    object-position: center;

    @media (max-width: 1024px) {
        width: 30%;
    }

    @media (max-width: 560px) {
        width: 30%;
    }
}

.feauters-item--title {
    @include sub-title;
    margin: 63px 0 42px;

    @media (max-width: 1024px) {
        margin: 35 0 25;
    }

    @media (max-width: 560px) {
        font-size: 28px;
    }

    @media (max-width: 560px) {
        font-size: 18px;
        line-height: 21px;
        margin: 30 0 18;
    }
}

.feauters-item--description {}

.feauters-item--description p {
    @include text;

    @media (max-width: 560px) {
        font-size: 14px;
        line-height: 16px;
    }
}