@import "./cdn";
@import "./variables";
@import "./mixins";
@import "./header.scss";
@import "./feauters.scss";
@import "./works.scss";
@import "./person.scss";
@import "./slider.scss";
@import "./download.scss";
@import "./contact.scss";
@import "./footer.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    position: relative;
}

.container{
    max-width: 1170px;
    padding: 0 15px;
    margin: auto;
    z-index: 10;
    position: relative;
}


// .feauters,
// .works,
// .person,
// .sli,
// .download,
// .contact,
// .slider,
// .footer{
//     display: none;
// }